@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.carousel-container {
  position: relative;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

.carousel-background {
  filter: brightness(70%); /* Untuk efek gelap pada background */
}

.carousel-content {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7); /* Agar teks lebih jelas */
}
